flows (2).json
[{"id":"3f7710dc.fff22","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"54828939.24ad08","type":"function","z":"3f7710dc.fff22","name":"PreToken","func":"global.set(\"pg\",msg.payload.pg)\nglobal.set(\"pa\",msg.payload.pa)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"pd\",msg.payload.pd)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"9xScp0T-xwdyGxRKU4GTYghvfDk0gtpJzA4qwv03SsuD\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["39212fac.36311"]]},{"id":"39212fac.36311","type":"http request","z":"3f7710dc.fff22","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["1dd6448f.5b904b"]]},{"id":"57369875.d2d9d8","type":"inject","z":"3f7710dc.fff22","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["54828939.24ad08"]]},{"id":"ddc42c8.89a7bd","type":"debug","z":"3f7710dc.fff22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"1dd6448f.5b904b","type":"function","z":"3f7710dc.fff22","name":"Pre Prediction","func":"var pg = global.get('pg')\nvar pa = global.get('pa')\nvar ps = global.get('ps')\nvar sk = global.get('sk')\nvar ts = global.get('ts')\nvar ma = global.get('ma')\nvar pd = global.get('pd')\nvar a = global.get('a')\nvar token=msg.payload.access_token\nvar instance_id=\"6626f614-8470-4cc6-9164-7c72f82a0f0b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"], \"values\": [[pg,pa,ps,sk,ts,ma,pd,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["a822e570.a9b388"]]},{"id":"a822e570.a9b388","type":"http request","z":"3f7710dc.fff22","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/9443d5ce-7bdc-431a-ae01-2847bf0e944b/predictions","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["a0f2d449.c257e8"]]},{"id":"86ee3466.aeb058","type":"ui_form","z":"3f7710dc.fff22","name":"","label":"","group":"70aa036d.e2a94c","order":0,"width":0,"height":0,"options":[{"label":"preg","value":"pg","type":"number","required":true,"rows":null},{"label":"plas","value":"pa","type":"number","required":true,"rows":null},{"label":"pres","value":"ps","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"test","value":"ts","type":"number","required":true,"rows":null},{"label":"mass","value":"ma","type":"number","required":true,"rows":null},{"label":"pedi","value":"pd","type":"number","required":true,"rows":null},{"label":"age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"pg":"","pa":"","ps":"","sk":"","ts":"","ma":"","pd":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":380,"wires":[["54828939.24ad08"]]},{"id":"4e3eb0c2.96ae7","type":"ui_text","z":"3f7710dc.fff22","group":"70aa036d.e2a94c","order":1,"width":0,"height":0,"name":"","label":"class(1=yes,if 0=no)","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":360,"wires":[]},{"id":"a0f2d449.c257e8","type":"function","z":"3f7710dc.fff22","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":120,"wires":[["4e3eb0c2.96ae7","ddc42c8.89a7bd"]]},{"id":"70aa036d.e2a94c","type":"ui_group","z":"","name":"Default","tab":"b81479ef.da86d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b81479ef.da86d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]